#navbar{
    display: flex;
    justify-content: space-around;
}
#navbar .logo{
    width: 139px;
    cursor: pointer;
}
.btn{
    width: 164px;
    height: 44px;
    background-color: #469165;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 8px;
    border: 0px;
}
.about-us .about-us-container{
    /* width: 298px; */
    display: flex;
    list-style: none;
    gap: 32px;
}

.about-us-container li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: black;
}
.about-us-container li a:hover{
    color: purple;
}
